<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Usuarios</title>
</head>
<body>
  <h1>Lista de Usuarios</h1>
  <ul>
    <% users.forEach(user => { %>
      <li><%= user.name %> - <%= user.email %> - <%= user.phone %></li>
    <% }) %>
  </ul>
</body>
</html>
